body{
    margin: 0;
    padding: 0;
    background: darkslategray;
    display: flex;  
    justify-content: center;
    align-items: center;
}

div#app{
    height: 100vh;
}

div#app > div.playField{
    display: flex;
    width: 750px;
    flex-wrap: wrap;
    position: relative;

}

div#app > div.header{
    border: none;
    width: 750px;
    height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    width: 60px;
    height: 60px;
    border-Radius: 50%;
    background: rgb(255, 0, 43);
    position: absolute;
    top: 7.5px;
    left: 7.5px;
}